/* variables */

//themes
$primary-color : #ddd;
$secondary-color : #f7fafb;
$text-color : #212121;

//header
$header-bg-color : #f0f1f2;
$header-text-color : $text-color;
$header-padding-x : 10px;
$header-padding-y : 10px;

//--->information
$inf-bg-color : #212121;
$inf-text-color : #1d8c2f;
$inf-padding-x : 10px;
$inf-padding-y : 10px;

