/* variables */

//themes
$primary-color : #ddd;
$secondary-color : #f7fafb;
$text-color : #212121;

//header
$header-bg-color : #fff;
$header-text-color : #fff;
$header-padding-x : 10px;
$header-padding-y : 10px;


// main
$main-background : #fff;
$main-text-color : #fff;
$main-padding-x : 10px;
$main-padding-y : 10px;
//--->information
$inf-bg-color : #fff;
$inf-text-color : #fff;
$inf-padding-x : 10px;
$inf-padding-y : 10px;

