@import './normalize';
@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

// global style
body {
  font-family : 'Alata';
  background : $secondary-color;
  overflow-x : hidden;
  font-family: 16px;
}

// header style
.header {
  width : 100%;
  height: 4rem;
  background : $primary-color;
  text-align : center;
  color : $text-color;
  padding : 12px;
}

// main style
.box {
  @include flex(row, wrap, center, center);
  width : 100%;
  margin-top : 20px;
  padding: 20px;
}

.main {
  width : 80%;
  min-width: 400px;
  height : 400px;
  @include flex(row, wrap, center, center);
  background: #fff;

  &-village {
    @include flex(row, nowrap, center, center);
    flex : 1 1 0px;
    height : 400px;
    &-wrapper {
      position: relative;
      height : 300px;
    }
  }
  &-information {
    flex : 1 1 0px;
    @include flex(column, nowrap, start, start);
    height: 400px;
    background: $inf-bg-color;
    color: $inf-text-color;
    transform: scale(1.03);
    box-shadow: 0px 0px 30px #b5b1b1;
    &-state{
      width : 100%;
      text-align: center;
      @include flex(column, nowrap, start, center);
      flex : 1 1 0px;
      padding : $inf-padding-x 3*$inf-padding-y;
    }

    &-robot {
      width: 100%;
      padding : $inf-padding-x 3*$inf-padding-y;
      @include flex(row, wrap, center, center);
      flex : 1 1 0px;
      &-select {
        width: 30%;
        height: 30px;
        background: transparent;
        color: $inf-text-color;
        border-radius: 3px;
        border: 1px solid $inf-text-color;
      }
      & label {
        margin-right : 10px;
      }
    }
    &-add {
      width: 100%;
      flex : 1 1 0px;
      padding : $inf-padding-x 3*$inf-padding-y;
      @include flex(row, wrap, center, center);
      &-select {
        width: 120px;
        height: 30px;
        margin-right : 10px;
        background: transparent;
        color: $inf-text-color;
        border-radius: 3px;
        border: 1px solid $inf-text-color;
      }
    }
    &-controler {
      width: 100%;
      flex : 1 1 0px;
      padding : $inf-padding-x 3*$inf-padding-y;
      @include flex(row, wrap, center, center);
    }
  }
}

.packet {
  width : 16px;
  height : 16px;
  position : absolute;
  transition: all 0.4a;
}
.robotElt {
  position: absolute;
  transition: all 0.4s;
}

.btn {
  padding : 5px 10px;
  background : transparent;
  border : 1px solid $inf-text-color;
  color: $inf-text-color;
  transition : all 0.4s;
  cursor : pointer;
  &:hover {
    background : $inf-text-color;
    color : white;
  }
}


